html {
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
-webkit-tap-highlight-color: transparent;
}
body {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 50rem;
line-height: 1.4;
margin: auto;
background: linear-gradient(150deg,#411,#123);
background-color: #000;
}
* {
color: #000;
user-select: none;
text-decoration: none;
outline: 1px solid transparent;
font-family: "font", sans-serif;
transition: 1s, fill .25s;
}
::selection {
color: #e00;
background: transparent;
text-shadow: .4px .4px .2px #222;
}
h1, h2, h3, h4, h5, h6, p, b {
animation: fadeIn 1s;
}
h1 {
margin: -.5rem auto -.25rem;
font-size: 1.5rem;
}
h2 {
margin: 0 0 .25rem;
font-size: 1.5rem;
}
h3, h4, h5, h6, p, a {
margin: 0 0 .5rem;
font-size: 1.2rem;
}
hr {
margin: 1rem auto;
border: .05rem solid #000;
}
img {
width: 100%;
margin: .25rem auto;
border-radius: .25rem;
animation: fadeIn 1s;
}
main {
padding: 1rem 1.5rem;
animation: fadeUp 1s;
}
header, footer, .center {
text-align: center;
}
.justify {
margin: .5rem auto;
text-align: justify;
}
.gallery {
margin: 0 -.75rem -.25rem;
text-align: center;
}
.gallery img {
margin: -.1rem auto;
}
.gallery img:focus {
width: 98%;
}
.big { width: 98%; }
.cozy { width: 75%; }
.half { width: 48.5%; }
.small { width: 32%; }
.tiny { width: 23.75%; }
.icon {
width: 3rem;
fill: #fff;
}
.content p, .content a {
text-shadow: .4px .4px .2px #222;
}
.box {
margin: 0 0 1rem;
padding: 1rem 1.5rem;
background: rgba(250,250,250,1);
background-color: #fff;
border: .1rem solid rgba(250,250,250,0);
border-radius: .5rem;
box-sizing: border-box;
}
.copyright, .copyright a {
max-height: 100%;
margin: 0 auto 1.25rem;
color: #fff;
font-size: .8rem;
}
* a:hover, a *:hover,
.mode * a:hover, .mode a *:hover,
.copyright:hover, .copyright a:hover,
.mode .copyright:hover, .mode .copyright a:hover
{
fill: #e00;
color: #e00;
text-shadow: .4px .4px .2px #222;
}
@font-face {
font-display: swap;
font-family: "font";
src: url("/font.woff2");
}
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}
@keyframes fadeUp {
from { opacity: 0; transform: translate3d(0,.5rem,0); }
to { opacity: 1; transform: translate3d(0,0,0); }
}
